body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #333;
}

input[type="file"] {
    padding: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: #fafafa;
    text-align: center;
}

.drop-area:hover {
    background-color: #e0e0e0;
}

#record-button {
    background-color: #ff4d4d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#record-button img {
    margin-right: 10px;
}


